.skills-info-card{
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #EEE8AA;
    // background: rgba(108, 97, 43, 0.398);
    backdrop-filter: blur(1rem);

}

.skills-info-card h6{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 2rem;
    background: linear-gradient(188deg, #efeccb 0%, #f8ed78 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #a7a167;
}

.skills-info-content{
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-percentage{
        color: #625f41;
        }
}
.skill-info p{
    font-size: 1rem;
    font-weight: bold;
    // color: #EEE8AA;
    background: linear-gradient(188deg, #efeccb 0%, #f8ed78 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.skill-progress-bg{
    width: 100%;
    height: 0.5rem;
    background: #615d2d;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
}
.skill-progress{
    width: 0%;
    height: 0.5rem;
    background: linear-gradient(90deg, #f3f0d0 -50%, #f4e96e 50%);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}
