.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
    // --- CORRECTIF Z-INDEX ---
    position: relative; 
    z-index: 9999; // Assure que la navbar est au-dessus de tout
    // -------------------------

    &_container {
      display: flex;
      align-items: center;
      width: 100%;
      height: inherit;
      padding: 0px 20px;
      flex: 1;

      &_logo {
        color: var(--yellow-theme-main-color);
        display: inline-block;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;

        &_dot {
          color: #d9d9d9;
          cursor: pointer;
        }

        &_dot:hover {
          color: #8F8D9C;
        }
      }

      &_logo:hover {
        color: #8F8D8C;
      }

      &_menu {
        display: flex;
        list-style: none;
        text-align: center;

        &_item {
          line-height: 40px;
          margin-right: 1.5rem;
          font-size: 1.6rem;

          &::after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: all 0.5s ease;
          }

          &:hover::after {
            width: 100%;
            background: var(--yellow-theme-main-color);
          }

          &_links {
            color: var(--yellow-theme-main-color);
            padding: 0.5rem;
            text-decoration: none;
          }
        }
      }
    }
}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar_container_menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      
      // --- CORRECTIF MOBILE ---
      z-index: 10000; // Plus haut que la navbar elle-même
      background: #181818; 
      // -------------------------

      &.active {
        left: 0px;
        opacity: 1;
      }
    }

    .nav-icon {
      display: block;
      cursor: pointer;
      color: var(--yellow-theme-main-color);
      padding-right: 20px;
    }
}